@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant', serif !important;
    color: #593207 !important;
}
p{
    font-size: 1.2em;
}
.error{
    border-left: 3px solid rgb(236, 51, 51);
    margin: 10px 0;
    padding-left: 10px;
    color: rgb(236, 51, 51);
}
.success{
    border-left: 3px solid rgb(14, 172, 14);
    margin: 10px 0;
    padding-left: 10px;
    color: rgb(14, 172, 14);
}
.info{
    border-left: 3px solid rgb(68, 68, 226);
    margin: 10px 0;
    padding-left: 10px;
    color: rgb(68, 68, 226);
}
/*header*/
header .navi .logo{
    width: 255px;
}
header .navi .logo img{
    width: 100%;
    margin: 0 0px 0 -22px;
    height: 100%;
}
header .top-navi{
    background-color: #fff;
    padding: 8px 0 0;
}
header .top-navi-content{
    width: 92%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .top-navi-content .fab{
    margin-right: 15px;
}
header .top-navi-content .fab,header .top-navi-content .fas{
    font-size: 1.4em;
    color: #FFA91E;
}
.top-navi .contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-navi .contact p:first-child{
    margin-right: 20px;
}
.top-navi-content p{
    display: flex;
    align-items: center;
}
header .top-navi-content p .fas{
    font-size: 1.1em;
    margin-right: 7px;
}
header .navi-bloc{
    width: 92%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .navi{
    background-color: #FFA91E;
    position: relative;
}
header .search .fas,header .search .far{
    font-size: 1.3em;
    color: #fff;
}
header .search .fas{
    margin-right: 25px;
}
header .navi-content{
    display: flex;
}
header .navi-content  a{
    text-decoration: none;
    color: #593207;
    font-weight: 600;
    font-size: 1.5em;
    padding-bottom: 8px;
}
header .navi-content  a:hover{
    border-bottom: 1px solid #fff;
}
header .navi-content  a:not(:last-child){
    margin-right: 20px;
}
header .fa-sort-down{
    color: #593207;
}
header .search{
    display: flex;
    margin-left: 20px;
}
header .search-bloc{
    position: relative;
}
.search .search-content{
    position: absolute;
    width: 305px;
    top: 24px;
    left: -283px;
    display: none;
}
.search .fa-search{
    cursor: pointer;
}
.search .search-content input{
    height: 45px;
}
header .menu-burger{
    display: none;
}
header .burger-icon .burger{
    width: 20px;
    height: 3px;
    margin-bottom: 2px;
    background-color: #593207;
    border-radius: 5px;
}
header .menu-burger .menu{
    font-weight: 600;
}
/*footer*/
footer .footer-top,footer .footer-bottom{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer .footer-bottom{
    align-items: center;
}
footer .follow-us,footer .contact-us{
    width: 20%;
}
footer hr{
    width: 50%;
    margin: 45px auto;
}
footer{
    background-color: #f1f1f1;
    padding: 40px 0;
}
footer p{
    line-height: 1.4;
}
footer h4{
    font-size: 1.5em;
    font-weight: 500;
}
footer .social-media .fab,footer .social-media .fas{
    font-size: 1.4em;
    color: #FFA91E;
}
footer .social-media .fab{
    margin-right: 15px;
}
footer .contact-us .fas{
    font-size: 1.1em;
    margin-right: 7px;
    color: #FFA91E;
}
footer .payment{
    display: flex;
    justify-content: flex-end;
}
footer .payment img:not(:last-child){
    margin-right: 20px;
}
/*auth*/
.auth{
    width: 30%;
    box-shadow: 0px 0px 3px 0px;
    margin: 50px auto;
    border-radius: 5px;
    padding: 30px;
}
.account{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
}
.account p{
    color: #0a58ca;
    cursor: pointer;
}
.account button{
    border: 1px solid #FFA91E;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: transparent;
}
.withotherprovider{
    position: relative;
    text-align: center !important;
}
.withotherprovider .line{
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 40px 0;
}
.withotherprovider p{
    padding: 10px 20px;
    background-color: #fff;
    position: absolute;
    top: -26px;
    left: calc(50% - 75% / 2);
    width: 75%;
}
.withotherprovider .google{
    margin-bottom: 15px;
    width: 100% !important;
}
.withotherprovider .abcRioButton {
    width: 100% !important;
}
.withotherprovider .fab{
    margin-right: 8px;
}
.withotherprovider .facebook{
    background-color: #1877f2;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 1.5em;
    padding: 3px 20px;
    width: 100%;
}
.auth .sign{
    display: none;
}
/*qui sommes nous*/
.about-us{
    width: 80%;
    margin: 0 auto;
}
.text-content{
    width: 45%;
}
.about-us-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}
.about-us-content .img{
    width: 50%;
}
.about-us-content .img img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
/*backoffice*/
.product-data h2{
    text-align: center;
    margin: 30px 0;
}
.product-data .gestion-product-navi{
    display: flex;
    justify-content: center;
}
.gestion-product-navi nav p{
    cursor: pointer;
}
.product-data .product{
    display: block;
}
.product-data .commande{
    display: none;
}
.product .insert-product-data{
    width: 80%;
    margin: 30px auto;
}
.product .insert-product-data h4{
    margin-bottom: 20px;
}
.product .insert-product-data form{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.product .insert-product-data form .left,.product .insert-product-data form .right{
    width: 47%;
}
.product-data .product-table{
    width: 80%;
    margin: 35px auto;
}
.bloc-title{
    display: flex;
    justify-content: space-between;
}
/*nos produits*/
.carousel-item img{
    height: 75vh !important;
    object-fit: cover;
}
.single-product,.menu,.menu-simple,.menu-double,.boisson{
    width: 80%;
    margin: 75px auto;
}
.single-product h3,.menu h3,.menu-simple h3,.menu-double h3,.boisson h3{
    margin-bottom: 30px;
}
.single-product-content,.menu-content,.menu-simple-content,.menu-double-content,.boisson-content{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.single-product-content .card,.menu-content .card,.menu-simple-content .card,.menu-double-content .card,.boisson-content .card{
    margin-bottom: 40px;
    margin-right: 1%;
    width: 19%;
}
.single-product-content .card .btn, .menu-content .card .btn, .menu-simple-content .card .btn,.menu-double-content .card .btn,.boisson-content .card .btn{
    background-color: #593207;
    color: #fff;
    border: none;
}
/*media query*/

@media (max-width: 1086px) {
    header .navi-content{
        position: relative;
        width: 45%;
        text-align: center;
        display: none;
    }
    header .navi-content nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 53px;
        width: 100%;
        background-color: #FFA91E;
        transition: all .2s;
    }
    header .navi-content nav a{
        color: #fff;
        margin: 10px 0;
    }
    header .navi-content nav a:hover{
        border: 0;
    }
    header .menu-burger{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 47%;
        position: absolute;
        top: 38px;
        left: calc(100% / 2 - 38% / 2);
    }
    footer .follow-us, footer .contact-us{
        width: 30%;
    }
    .auth{
        width: 40%;
    }
    .about-us-content{
        flex-direction: column-reverse;
    }
    .text-content{
        width: 100%;
    }
    .about-us .img{
        width: 100%;
        margin-bottom: 35px;
    }
    .about-us-content .img img{
        height: 75vh;
    }
}
@media (max-width: 768px) {
    header .top-navi-content{
        flex-direction: column;
    }
    header .top-navi{
        padding-bottom: 8px;
    }
    header .navi-bloc{
        flex-direction: column;
    }
    header .navi .logo img{
        margin: 0;
    }
    header .search{
        width: 100%;
        justify-content: flex-end;
        margin: 10px 0 15px;
    }
    header .menu-burger{
        top: 114px;
        left: calc(100% / 2 - 91% / 2);
        width: 23%;
    }
    header .navi-content nav{
        top: 49px;
    }
    .auth{
        width: 50%;
    }
    .withotherprovider .google{
        width: 100%;
    }
    .withotherprovider .facebook{
        width: 100%;
    }
    .account{
        flex-direction: column;
    }
    .account button{
        margin-bottom: 15px;
    }
    .about-us-content .img img{
        height: 60vh;
    }
}
@media (max-width: 546px) {
    footer .footer-top{
        flex-wrap: wrap;
    }
    footer .follow-us{
        width: 45%;
        margin-bottom: 20px;
    }
    footer .contact-us{
        width: 100%;
    }
    footer .footer-bottom{
        flex-direction: column;
    }
    header .navi-content{
        width: 75%;
    }
    .auth {
        width: 60%;
    }
    .about-us-content .img img{
        height: 50vh;
    }
}
@media (max-width: 472px) {
    footer .follow-us{
        width: 100%;
    }
    footer .service{
        width: 100%;
        margin: 15px 0;
    }
    .top-navi .contact{
        flex-direction: column;
    }
    header .navi-content{
        width: 109%;
    }
    .auth {
        width: 70%;
    }
    .about-us{
        width: 100%;
    }
    .about-us h3{
        margin-left: 10%;
    }
    .about-us .text-content{
        padding: 0 10%;
    }
}
@media (max-width: 375px) {
    .auth{
        box-shadow: none;
        width: 100%;
    }
}